body{
	background-color: #efeee7;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #333333;
	margin: 0;
    padding: 0;
}

header{
	background-color: #ffffff;
	text-align: left;
	margin: 0 auto;

}
h1.headerName{
	background-color: #4aaaa5;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Georgia', Times, Times New Roman, serif;
}

h1{
	color: #eee;
	font-size: 28px;
	padding: 1rem;
}

h2{
	font-size: 24px;
}

div.container{
	width:1024px;
	margin: 0 auto;
	background-color: #ffffff;
	border: 1px;
	border-style: solid;
	border-color: #dddddd;
}

#main-bio{
	float: left;
	width: 70%;
}

#contact-info{
	float: left;
	width: 30%;
}

#bio-image{
	width: 200px;
	float: left;
}
p{
	display: inline;
}
img{
	float: left;
	padding-right: 10px;
}
.inline{
	display: inline;
}
.navBar{
	float: right;
}
.standardFont{
	color: #777777;
}
.mainHeader{
	background-color: #ffffff;
	border: 1px;
	border-style: solid;
	border-color: #cccccc;
}
footer{
	background-color: #666666;
}